* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo, .meme-editor, .container, .figure-img, .grid-container, .grid-container img, .contenedor-meme, .texto-meme, .texto-meme2, .input-texto, .color, .input-color, .position, .position-input {
  margin: 0;
}

.titulo {
  padding: 20px;
}

.meme-editor{
  background-color: #293133;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.figure-img, .grid-container img {
  width: 100%;
}

.figure-img {
  height: auto;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px;
  gap: 20px;
  max-width: 80vw;
  margin:auto;
}

.grid-container img {
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.contenedor-meme {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.position-inputs {
  display: flex;
}

.texto-meme, .texto-meme2{
  position: absolute;
  word-wrap: break-word;
  text-align: left;
  font-size: 40px;
  font-weight: bold; 
  max-width: 90%;
  max-height: 90%;
}

.texto-meme {
 top:10%;
 left:10%;
 right:10%;
}

.texto-meme2{
 top:30%;
 left:10%;
 right:10%;
}

.input-texto, .color, .input-color{
 display:flex;
 flex-direction:column;
 align-items: center;
 justify-content:center;
 gap:10px;
}

.input-color{
 border-radius:15px;
 color:#ffc0cb;
 padding:5%;
}

.color h3{
 margin-top:20px;
}

.position{
 display:flex;
 justify-content: center;
}

.position-input{
 display:flex;
 background-color: white;
 color:black;
 flex-direction:column;
 border-radius:15px;
 padding:10px;
 margin-right: 10px;
}

.position-input label, .position-input input {
  display: block;
}
